
h1 {
     text-align: center;
    font-size: 15mm;
    font-family: 'Helvetica';
    color: blue;
}

b { 
    font-size: 10mm;
    color: darkorchid;
}

p { 
    color: orangered;
}

.imagen { 
          border: 10px solid black;
}

